<!--<link rel="stylesheet" href="../../theme/variables.scss">-->
<ion-header>

  <ion-navbar>
    <ion-title>Restaurant</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <!--make two-way data binding for the "select" property-->
    <ion-segment [(ngModel)]="select" >
      <!--dynamically update segments for currently available categories-->
      <ion-segment-button *ngFor="let item of items" value={{item.title}}>
        {{item.title}}
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-9 padding>
        <!--division to display menu items-->
        <!--dynamically update category property through property binding-->
        <page-menu-item [category]=select></page-menu-item>
      </ion-col>

      <ion-col col-3 padding>
        <!--division to display wish list-->
        <page-shopping-cart></page-shopping-cart>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!--<div *ngIf="selectedItem" padding>-->
    <!--You navigated here from <b>{{selectedItem.title}}</b>-->
  <!--</div>-->
</ion-content>
