<!--<link rel="stylesheet" href="../../theme/variables.scss">-->
<ion-header>

  <ion-navbar>
    <ion-title>category</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="select" >
      <ion-segment-button *ngFor="let item of items" value={{item.id}}>
        {{item.title}}
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-9 padding>
        <page-menu-item [category]=select></page-menu-item>
      </ion-col>

      <ion-col col-3 padding>
        <page-shopping-cart></page-shopping-cart>
      </ion-col>

    </ion-row>
  </ion-grid>


  <!--<div [ngSwitch]="select">-->

    <!--<ion-grid *ngSwitchCase="'burger'">-->
      <!--<page-burger></page-burger>-->
    <!--</ion-grid>-->
    <!--<ion-grid *ngSwitchCase="'saladAndWraps'">-->

    <!--</ion-grid>-->
    <!--<ion-grid *ngSwitchCase="'sides'">-->

    <!--</ion-grid>-->
    <!--<ion-grid *ngSwitchCase="'drinks'">-->

    <!--</ion-grid>-->
    <!--<ion-grid *ngSwitchCase="'desserts'">-->

    <!--</ion-grid>-->
  <!--</div>-->



  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
