

<ion-header>
  <!--<ion-navbar>-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title>Rides</ion-title>-->
  <!--</ion-navbar>-->
  <ion-navbar>
    <ion-title>{{selectedItem.title}}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="select">
      <ion-segment-button value="Breakfast">
        Breakfast
      </ion-segment-button>
      <ion-segment-button value="Chicken & Fish">
        Chicken & Fish
      </ion-segment-button>
      <ion-segment-button value="Beef">
        Beef
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div [ngSwitch]="select">

    <ion-grid *ngSwitchCase="'Breakfast'">

      <ion-row *ngFor="let item of items; let i=index" >
        <template [ngIf]="i % 4 === 0">

          <ion-col *ngIf="i < items.length" (click)="itemTapped(items[i])" col-12 col-sm>
            <ion-card>
              <ion-card-header>
                <ion-avatar item-center>
                  <div class="thumbnail">
                    <img src="{{items[i].imagePath}} " />
                    <div class="wrapper">
                      <div class="caption post-content">

                        {{items[i].title}}
                        <div class="item-note" item-right>
                          {{items[i].description}}<br>
                          {{items[i].description}}<br>

                        </div>
                      </div>
                    </div>
                  </div>
                </ion-avatar>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-col *ngIf="i+1 < items.length" (click)="itemTapped(items[i+1])" col-12 col-sm>
            <ion-card>
              <ion-card-header>
                <ion-avatar item-center>
                  <div class="thumbnail">
                    <img src="{{items[i+1].imagePath}} " />
                    <div class="wrapper">
                      <div class="caption post-content">

                        {{items[i+1].title}}
                        <div class="item-note" item-right>
                          {{items[i+1].description}}<br>
                          {{items[i+1].description}}<br>

                        </div>
                      </div>
                    </div>
                  </div>
                </ion-avatar>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-col *ngIf="i < items.length" (click)="itemTapped(items[i+2])" col-12 col-sm>
            <ion-card>
              <ion-card-header>
                <ion-avatar item-center>
                  <div class="thumbnail">
                    <img src="{{items[i+2].imagePath}} " />
                    <div class="wrapper">
                      <div class="caption post-content">

                        {{items[i+2].title}}
                        <div class="item-note" item-right>
                          {{items[i+2].description}}<br>
                          {{items[i+2].description}}<br>

                        </div>
                      </div>
                    </div>
                  </div>
                </ion-avatar>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-col *ngIf="i+1 < items.length" (click)="itemTapped(items[i+1])" col-12 col-sm>
            <ion-card>
              <ion-card-header>
                <ion-avatar item-center>
                  <div class="thumbnail">
                    <img src="{{items[i+1].imagePath}} " />
                    <div class="wrapper">
                      <div class="caption post-content">

                        {{items[i+1].title}}
                        <div class="item-note" item-right>
                          {{items[i+1].description}}<br>
                          {{items[i+1].description}}<br>

                        </div>
                      </div>
                    </div>
                  </div>
                </ion-avatar>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </template>
      </ion-row>

      <!--<ion-card *ngFor="let ride of rides" (click)="openRide(ride)">-->

        <!--<ion-item>-->
          <!--<ion-avatar item-left>-->
            <!--<img src="assets/img/avatar.png">-->
          <!--</ion-avatar>-->
          <!--<p>{{ ride.name }}</p>-->
        <!--</ion-item>-->

        <!--<ion-card-content>-->
          <!--<p><ion-icon name="pin"></ion-icon> Pickup location</p>-->
          <!--<br>-->
          <!--<p><ion-icon name="navigate"></ion-icon> Dropoff location </p>-->
        <!--</ion-card-content>-->
      <!--</ion-card>-->

      <p>1st page</p>

    </ion-grid>

    <ion-grid *ngSwitchCase="'Chicken & Fish'">


    </ion-grid>

    <ion-grid *ngSwitchCase="'Beef'">


      <!--<ion-card *ngFor="let ride of rides" (click)="openRide(ride)">-->

        <!--<ion-item>-->
          <!--<ion-avatar item-left>-->
            <!--<img src="assets/img/avatar.png">-->
          <!--</ion-avatar>-->
          <!--<p>Marty McFly</p>-->
        <!--</ion-item>-->

        <!--<ion-card-content>-->
          <p><ion-icon name="pin"></ion-icon> Pickup location</p>
          <br>
          <p><ion-icon name="navigate"></ion-icon> Dropoff location </p>
          <br>
          <p><ion-icon name="cash"></ion-icon> Earnings </p>
        <!--</ion-card-content>-->

        <!--
          <ion-row>
            <ion-col>

            </ion-col>
            <ion-col>

            </ion-col>

            <ion-col center text-center>
              <ion-note>
                11h ago
              </ion-note>
            </ion-col>
          </ion-row>
        -->
      <!--</ion-card>-->

    </ion-grid>
  </div>
</ion-content>
