<!--<p>{{category}}</p>-->

<ion-grid>


  <ion-row *ngFor="let item of items; let i=index" >
    <template [ngIf]="i % 4 === 0">

      <ion-col width-25 *ngIf="i < items.length"  col-12 col-sm >
        <ion-card>
          <!--<ion-card-header>-->
            <ion-avatar item-center (click)="itemTapped(items[i])">
              <div class="thumbnail">
                <img src="{{items[i].imagePath}} " />

              </div>
            </ion-avatar>
          <!--</ion-card-header>-->


        </ion-card>
        <div text-center>
          <p>{{items[i].title}}</p>
        </div>

        <div text-center>
          <p><b>Rs.{{items[i].unitPrice}}.00</b></p>
        </div>

        <button  ion-button color="secondary" full small icon-right (click)="addToCart(items[i])" >
          Add to wish-list
          <ion-icon name="cart"></ion-icon>
        </button>

         <button *ngIf="category===1 || category === 2             "  ion-button color="secondary" block small icon-right>
          Customize
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>

      <ion-col width-25 *ngIf="i+1 < items.length"  col-12 col-sm   >
        <ion-card>
          <!--<ion-card-header>-->
            <ion-avatar item-center (click)="itemTapped(items[i+1])">
              <div class="thumbnail">
              <img src="{{items[i+1].imagePath}} " />

              </div>
            </ion-avatar>
          <!--</ion-card-header>-->

        </ion-card>

        <div text-center>
          <p>{{items[i+1].title}}</p>
        </div>

        <div text-center>
          <p><b>Rs.{{items[i+1].unitPrice}}.00</b></p>
        </div>

        <button ion-button color="secondary" full small icon-right (click)="addToCart(items[i+1])">
          Add to wish-list
          <ion-icon name="cart"></ion-icon>
        </button>

        <button ion-button color="secondary" block small icon-right>
          Customize
          <ion-icon name="arrow-forward"></ion-icon>
        </button>

      </ion-col>

      <ion-col width-25 *ngIf="i < items.length"  col-12 col-sm >
        <ion-card>
          <!--<ion-card-header>-->
            <ion-avatar item-center (click)="itemTapped(items[i+2])">
              <div class="thumbnail">
                <img src="{{items[i+2].imagePath}} " />

              </div>
            </ion-avatar>
          <!--</ion-card-header>-->

        </ion-card>

        <div text-center>
          <p>{{items[i+2].title}}</p>
        </div>

        <div text-center>
          <p><b>Rs.{{items[i+2].unitPrice}}.00</b></p>
        </div>

        <button ion-button color="secondary" full small icon-right (click)="addToCart(items[i+2])">
          Add to wish-list
          <ion-icon name="cart"></ion-icon>
        </button>

        <button ion-button color="secondary" block small icon-right>
          Customize
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>

      <ion-col width-25 *ngIf="i < items.length"  col-12 col-sm >
        <ion-card>
          <!--<ion-card-header>-->
            <ion-avatar item-center (click)="itemTapped(items[i+3])">
              <div class="thumbnail" >
                <img src="{{items[i+3].imagePath}} " />

              </div>
            </ion-avatar>
          <!--</ion-card-header>-->


        </ion-card>
        <div text-center>
          <p>{{items[i+3].title}}</p>
        </div>

        <div text-center>
          <p><b>Rs.{{items[i+3].unitPrice}}.00</b></p>
        </div>

        <button ion-button color="secondary" full small icon-right (click)="addToCart(items[i+3])">
          Add to wish-list
          <ion-icon name="cart"></ion-icon>
        </button>

        <button ion-button color="secondary" block small icon-right>
          Customize
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </template>
  </ion-row>
</ion-grid>


<!--&lt;!&ndash;how to code to overlap image and text&ndash;&gt;-->

<!--<ion-card>-->
  <!--<ion-card-header>-->
    <!--<ion-avatar item-center (click)="itemTapped(items[i+3])">-->
      <!--<div class="thumbnail">-->
        <!--<img src="{{items[i+3].imagePath}} " />-->
        <!--<div class="wrapper">-->
          <!--<div class="caption post-content">-->

            <!--{{items[i+3].title}}-->
            <!--&lt;!&ndash;<div class="item-note" item-right>&ndash;&gt;-->
            <!--&lt;!&ndash;{{items[i+3].description}}<br>&ndash;&gt;-->
            <!--&lt;!&ndash;{{items[i+3].description}}<br>&ndash;&gt;-->

            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div>-->
              <!--Rs.{{items[i+3].unitPrice}}.00-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</ion-avatar>-->
  <!--</ion-card-header>-->


<!--</ion-card>-->
